@model dependent
<style>
    span {
        color: red;
    }
</style>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><span>Essn: </span> @Model.essn</h5>
        <h5 class="card-title"><span>dependent Name: </span>@Model.dependentName</h5>
        <h5 class="card-title"><span>Sex: </span>@Model.sex</h5>
        <h5 class="card-title"><span>B Date </span>@Model.BDate</h5>
        <h5 class="card-title"><span>Relation </span>@Model.realation</h5>
    </div>
</div>
